<!-- 導覽列區塊 -->
<header class="header sticky-top">
  <nav class="navbar bg-primary py-0">
    <div class="container">
      <a class="navbar-brand py-4" href="./index.html">
        <img
          src="../assets/images/logo-white.png"
          class="header__img img-fluid"
          alt="整體圖案由白色呈現，顯示著一副眼鏡並從右邊向下畫出一個半圓的形象LOGO"
        />
      </a>
      <ul class="navbar-nav d-none d-md-flex flex-row gap-11">
        <li class="nav-item">
          <a class="nav-link text-white fs-md-5" href="./optical.html"
            >系列鏡框</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-md-5" href="./stores.html"
            >門市據點</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-md-5" href="./blog.html">部落格</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-md-5" href="./faq.html">常見問題</a>
        </li>
      </ul>
    </div>
    <ul
      class="navbar-nav d-md-none flex-row flex-wrap text-center bg-primary w-100"
    >
      <li class="nav-item w-50 border">
        <a class="nav-link py-3 text-white" href="./optical.html">系列鏡框</a>
      </li>
      <li class="nav-item w-50 border">
        <a class="nav-link py-3 text-white" href="./stores.html">門市據點</a>
      </li>
      <li class="nav-item w-50 border">
        <a class="nav-link py-3 text-white" href="./blog.html">部落格</a>
      </li>
      <li class="nav-item w-50 border">
        <a class="nav-link py-3 text-white" href="./faq.html">常見問題</a>
      </li>
    </ul>
  </nav>
</header>
