<!-- 分頁區塊 -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link text-black rounded-0" href="#">上一頁</a>
    </li>
    <li class="page-item active">
      <a class="page-link text-black" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">4</a></li>
    <li class="page-item"><a class="page-link text-black" href="#">5</a></li>
    <li class="page-item disabled">
      <a class="page-link rounded-0" href="#">下一頁</a>
    </li>
  </ul>
</nav>
