.breadcrumb-item.active {
  color: $primary;
}

.article {
  &__social {
    &__img {
      width: 24px;
      height: 24px;
    }
  
    a:hover {
      opacity: 0.7;
    }
  }

  &__nav:hover {
    color: $primary !important;
  }
}