.search__icon {
  font-size: 30px;
  cursor: pointer;
}

.blog__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}


.article__link-hover:hover {
  color: $primary !important;
}