.blog {
  &__search {
    font-size: 30px;
    cursor: pointer;
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  &__link-hover:hover {
    color: $primary !important;
  }
}