.product__nav {

  &-active {
    position: relative;
    &::before {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 8px;
      background: $primary;
    }
  }

  &-hover {
      position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 8px;
      background: $primary;
      transform: scale(0, 0);
      transform-origin: left;
      transition: transform .5s ease-in;
    }
  
    &:hover::after {
      transform: scale(1,1);
    }

  }
}



// optical banner
.banner__optical {
  height: 136px;

  &:nth-child(1) {
    background: url('../images/product-header-sm-1.png');
  }

  &:nth-child(2) {
    background: url("../images/product-header-sm-2.png");
  }
}

//sunglasses banner 
.banner__sunglasses {
  height: 136px;

  &:nth-child(1) {
    background: url('../images/product-header-sm-3.png');
  }

  &:nth-child(2) {
    background: url("../images/product-header-sm-4.png");
  }
}

.product__link:hover img {
  transform: scale(1.25);
  filter: saturate(200%);
}

.product__img {
  overflow: hidden;

  img {
    transition: all .8s ease;
  }
}

.product__color {
  width: 24px;
  height: 24px;
  border-radius: 4px;

  &:nth-child(1) {
    background-color: #5F3E2D;
  }

  &:nth-child(2) {
    background-color: #B75929;
  }

  &:active {
    transform: scale(0.95);
  }
}

@media (min-width: 768px) {
  .banner__optical, .banner__sunglasses {
    height: 296px;
  }
}

@media (min-width: 992px) {
  .product__link-active {
    padding-bottom: 24px - 8px !important;
  }

  .banner__optical {
    &:nth-child(1) {
      background: url('../images/product-header-1.png');
    }

    &:nth-child(2) {
      background: url("../images/product-header-2.png");
    }
  }

  .banner__sunglasses {
    &:nth-child(1) {
      background: url('../images/product-header-3.png');
    }

    &:nth-child(2) {
      background: url("../images/product-header-4.png");
    }
  }
}