.stores {
  &__dropdown {
    width: 276px;
  }

  &__link:hover {
    color: map-get($theme-colors, primary) !important;
  }
}

@media (min-width: 768px) {
  .stores__dropdown {
    width: 304px;
  }
}