<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網-部落格文章</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 部落格導覽列 -->
    <nav class="navbar navbar-expand bg-secondary">
      <div class="container">
        <ul class="navbar-nav gap-5 gap-md-10">
          <li class="nav-item">
            <a class="nav-link fs-6 fs-md-5 text-white px-0" href="#"
              >最新消息</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 fs-md-5 text-white px-0" href="#"
              >特別企劃</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 fs-md-5 text-white px-0" href="#"
              >新品上市</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 fs-md-5 text-white px-0" href="#"
              >鏡框小知識</a
            >
          </li>
        </ul>
        <span
          class="blog__search d-none d-md-block text-white material-symbols-outlined"
        >
          search
        </span>
      </div>
    </nav>
    <!-- 文章內容 -->
    <main>
      <section class="pb-11 pt-md-2 pb-md-12">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4 mt-md-1 mt-lg-5 mb-2">
              <li class="breadcrumb-item">
                <a href="#" class="text-black text-decoration-none">首頁</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#" class="text-black text-decoration-none">部落格</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#" class="text-black text-decoration-none">特別企劃</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                情人特別企劃
              </li>
            </ol>
          </nav>
          <div class="mb-2">
            <span class="fs-md-4 me-4 text-primary fw-bold">#special</span>
            <span class="fs-md-4 text-primary fw-bold">#event</span>
          </div>

          <div class="row mb-9">
            <div class="col-md-9 col-lg-8">
              <h1 class="mb-0 fs-4 fs-md-2">情人特別企劃</h1>
              <h2 class="mb-4 fs-6 fs-md-4">2020 Valentine’s Special</h2>
              <ul class="list-unstyled">
                <li class="mb-md-5 mb-lg-9">
                  <img
                    src="../assets/images/blogpage-1.png"
                    class="img-fluid mb-2"
                    alt="一對情侶戴著情侶款的墨鏡，鏡框使用玫瑰金的顏色"
                  />
                  <p>
                    一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                    <br />
                    本次拍攝的鏡框款式與 NEEDS CLASSIC
                    聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                  </p>
                </li>
                <li class="mb-md-5 mb-lg-9">
                  <img
                    src="../assets/images/blogpage-2.png"
                    class="img-fluid mb-2"
                    alt="金黃色鏡框搭配金黃色鏡片，看起來十分時尚的眼鏡"
                  />
                  <p>
                    一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                    本次拍攝的鏡框款式與 NEEDS CLASSIC
                    聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                  </p>
                </li>
                <li class="mb-md-5 mb-lg-9">
                  <img
                    src="../assets/images/blogpage-3.png"
                    class="img-fluid mb-2"
                    alt="一副墨鏡由金黃色鏡框搭配淺綠藍色的鏡片"
                  />
                  <p>
                    一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                    本次拍攝的鏡框款式與 NEEDS CLASSIC
                    聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                  </p>
                </li>
                <li class="mb-md-5 mb-lg-9">
                  <img
                    src="../assets/images/blogpage-4.png"
                    class="img-fluid mb-2"
                    alt="一對男女戴著墨鏡，展現情人墨鏡的特色"
                  />
                  <p class="mb-0">
                    2/14(五)-2/20(日) <br />
                    至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 <br />
                    期間優惠還有~~持他牌鏡框更換鏡片<br />薄型非球面鏡片折300元
                    <br />
                    濾藍光鏡片折500元 <br />
                    快快帶上另一半 <br />
                    讓彼此每一次睜開眼，都被愛的視線包圍!
                  </p>
                </li>
              </ul>

              <div class="d-none d-lg-block">
                <ul
                  class="d-flex gap-4 border-bottom border-light-theird mb-5 pb-4 list-unstyled"
                >
                  <li class="article__social fw-bold">
                    <a href="#" class="text-black text-decoration-none">
                      Share
                    </a>
                  </li>
                  <li class="article__social">
                    <a href="https://www.facebook.com/" target="_blank">
                      <img
                        src="../assets/images/logo-facebook.png"
                        class="article__social__img img-fluid"
                        alt="黑色Facebook樣式的圖片"
                      />
                    </a>
                  </li>
                  <li class="article__social">
                    <a href="https://www.instagram.com/" target="_blank">
                      <img
                        src="../assets/images/logo-instagram.png"
                        class="article__social__img img-fluid"
                        alt="黑色instagram樣式的圖片"
                      />
                    </a>
                  </li>
                </ul>
                <ul class="d-flex justify-content-between list-unstyled">
                  <li>
                    <a
                      href="#"
                      class="article__nav d-flex align-items-end gap-2 text-black text-decoration-none"
                    >
                      <span class="material-symbols-outlined">
                        arrow_back
                      </span>
                      上一篇：街頭潮人訪問 1
                    </a>
                  </li>
                  <li class="d-flex align-items-center gap-3">
                    <a
                      href="#"
                      class="article__nav d-flex align-items-end gap-2 text-black text-decoration-none"
                    >
                      下一篇：街頭潮人訪問 2
                      <span class="material-symbols-outlined">
                        arrow_forward
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-lg-4 d-none d-md-block">
              <h3
                class="d-flex align-items-center gap-lg-2 mb-2 fs-6 fs-lg-32 text-primary fw-bold"
              >
                <span class="material-symbols-outlined fs-lg-2"> label </span>
                TAGS
              </h3>
              <ul class="d-flex flex-wrap list-unstyled">
                <li class="me-4 me-lg-5 fs-lg-4 text-primary fw-bold">#special</li>
                <li class="w-lg-50 fs-lg-4 text-primary fw-bold">#sale</li>
                <li class="w-100 w-lg-auto me-lg-5 fs-lg-4 text-primary fw-bold">#new_item</li>
                <li class="w-100 w-lg-50 fs-lg-4 text-primary fw-bold">#interview</li>
                <li class="me-4 me-lg-5 fs-lg-4 text-primary fw-bold">#trivia</li>
                <li class="fs-lg-4 text-primary fw-bold">#news</li>
                <li class="w-100 fs-lg-4 text-primary fw-bold">#event</li>
              </ul>
            </div>
          </div>

          <div class="d-none d-md-block d-lg-none">
            <ul
              class="d-flex gap-4 border-bottom border-light-theird mb-5 pb-4 list-unstyled"
            >
              <li class="article__social fw-bold">
                <a href="#" class="text-black text-decoration-none">Share</a>
              </li>
              <li class="article__social">
                <a href="https://www.facebook.com/" target="_blank">
                  <img
                    src="../assets/images/logo-facebook.png"
                    class="article__social__img img-fluid"
                    alt="黑色Facebook樣式的圖片"
                  />
                </a>
              </li>
              <li class="article__social">
                <a href="https://www.instagram.com/" target="_blank">
                  <img
                    src="../assets/images/logo-instagram.png"
                    class="article__social__img img-fluid"
                    alt="黑色instagram樣式的圖片"
                  />
                </a>
              </li>
            </ul>
            <ul class="d-flex justify-content-between list-unstyled">
              <li>
                <a
                  href="#"
                  class="article__nav d-flex align-items-end gap-2 text-black text-decoration-none"
                >
                  <span class="material-symbols-outlined"> arrow_back </span>
                  上一篇：街頭潮人訪問 1
                </a>
              </li>
              <li class="d-flex align-items-center gap-3">
                <a
                  href="#"
                  class="article__nav d-flex align-items-end gap-2 text-black text-decoration-none"
                >
                  下一篇：街頭潮人訪問 2
                  <span class="material-symbols-outlined"> arrow_forward </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
