<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網-常見問題</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 常見問題內容 -->
    <main>
      <!-- 常見問題列表 -->
      <section class="py-9 py-md-12">
        <div class="container">
          <h1 class="mb-5 ps-4 fs-4 fs-md-2 border-start border-8 border-info fw-bold">常見問題</h1>
          <h2 class="mb-5 fs-4 fw-bold">我想詢問配鏡問題</h2>
          <ul class="list-unstyled">
            <li>
              <h3 class="fs-5 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h3>
              <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 <br> 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
            </li>
            <li>
              <h3 class="fs-5 fw-bold">Q2.眼鏡都可以20分鐘取件嗎？</h3>
              <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 <br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 <br> 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
            </li>
            <li>
              <h3 class="fs-5 fw-bold">Q3.散光鏡片需要額外加價嗎？</h3>
              <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br> 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
            </li>
            <li>
              <h3 class="fs-5 fw-bold">Q4.我可以使用舊眼鏡的度數配鏡片嗎？</h3>
              <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 <br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 <br> 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
            </li>
            <li>
              <h3 class="fs-5 fw-bold">Q5.請問可以單購買鏡框嗎？</h3>
              <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 <br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 <br> 他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
