<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網-門市據點</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 門市據點內容 -->
    <main>
      <!-- 據點列表 -->
      <section class="stores py-9 py-md-12">
        <div class="container">
          <h1
            class="mb-5 ps-4 fs-4 fs-md-2 border-start border-8 border-info fw-bold"
          >
            門市據點
          </h1>
          <div class="d-flex align-items-center gap-2 mb-5">
            <h2 class="mb-0 fs-6 fs-md-4">選擇地區</h2>
            <button
              type="button"
              class="stores__select btn d-flex justify-content-between text-light-gray border-light-gray rounded-0"
            >
              台北市
              <span class="material-symbols-outlined text-dark">
                arrow_drop_down
              </span>
            </button>
          </div>
          <ul
            class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gy-lg-10 list-unstyled"
          >
            <li class="col">
              <div class="stores__img">
                <img
                  src="../assets/images/store-1.png"
                  class="img-fluid"
                  alt="充滿工業風格的旗艦店，使用黑白色調，佈局簡潔"
                />
              </div>
              <h3 class="py-2 px-5 mb-0 fs-4 border border-light-third">
                台北中山旗艦店
              </h3>
              <ul
                class="py-2 px-5 fs-5 border border-light-third list-unstyled"
              >
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> call </span>
                  <a
                    href="tel:+(02)000-1234"
                    class="stores__link text-dark text-decoration-none"
                  >
                    電話：(02)000-1234
                  </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> schedule </span>
                  營業時間：10:00-21:00
                </li>
                <li class="d-flex gap-3">
                  <span class="material-symbols-outlined"> location_on </span>
                  <a
                    href="https://maps.google.com/?q=台北市中山區南京東路25巷2-1號"
                    class="stores__link text-dark text-decoration-none"
                    target="_blank"
                  >
                    地址：台北市中山區南京東路25巷2-1號
                  </a>
                </li>
              </ul>
              <a
                href="#"
                class="stores__link btn btn-black text-white d-block py-4 fs-5 rounded-0"
                >詳細資訊</a
              >
            </li>
            <li class="col">
              <div class="stores__img">
                <img
                  src="../assets/images/store-2.png"
                  class="img-fluid"
                  alt="簡約現代風格的台北綠園店，有白色及木紋牆壁，佈局讓人很放鬆"
                />
              </div>
              <h3 class="py-2 px-5 mb-0 fs-4 border border-light-third">
                台北綠園店
              </h3>
              <ul
                class="py-2 px-5 fs-5 border border-light-third list-unstyled"
              >
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> call </span>
                  <a
                    href="tel:+(02)000-2345"
                    class="stores__link text-dark text-decoration-none"
                  >
                    電話：(02)000-2345
                  </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> schedule </span>
                  營業時間：10:00-21:00
                </li>
                <li class="d-flex gap-3">
                  <span class="material-symbols-outlined"> location_on </span>
                  <a
                    href="https://maps.google.com/?q=台北市中正區復興南路 132-1 號"
                    class="stores__link text-dark text-decoration-none"
                    target="_blank"
                  >
                    地址：台北市中正區復興南路 132-1 號
                  </a>
                </li>
              </ul>
              <a
                href="#"
                class="stores__link btn btn-black text-white d-block py-4 fs-5 rounded-0"
                >詳細資訊</a
              >
            </li>
            <li class="col">
              <div class="stores__img">
                <img
                  src="../assets/images/store-3.png"
                  class="img-fluid"
                  alt="簡約現代風格的台中清水旗艦店，有白色及木紋牆壁，佈局簡潔"
                />
              </div>
              <h3 class="py-2 px-5 mb-0 fs-4 border border-light-third">
                台中清水旗艦店
              </h3>
              <ul
                class="py-2 px-5 fs-5 border border-light-third list-unstyled"
              >
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> call </span>
                  <a
                    href="tel:+(02)000-1234"
                    class="stores__link text-dark text-decoration-none"
                  >
                    電話：(02)000-1234
                  </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> schedule </span>
                  營業時間：10:00-21:00
                </li>
                <li class="d-flex gap-3">
                  <span class="material-symbols-outlined"> location_on </span>
                  <a
                    href="https://maps.google.com/?q=台中市清水區經南一路 23 號 8 樓"
                    class="stores__link text-dark text-decoration-none"
                    target="_blank"
                  >
                    地址：台中市清水區經南一路 23 號 8 樓
                  </a>
                </li>
              </ul>
              <a
                href="#"
                class="stores__link btn btn-black text-white d-block py-4 fs-5 rounded-0"
                >詳細資訊</a
              >
            </li>
            <li class="col">
              <div class="stores__img">
                <img
                  src="../assets/images/store-4.png"
                  class="img-fluid"
                  alt="工業風的高雄中正形象店，使用大面的落地玻璃簡潔明亮，令人感到很放鬆"
                />
              </div>
              <h3 class="py-2 px-5 mb-0 fs-4 border border-light-third">
                高雄中正形象店
              </h3>
              <ul
                class="py-2 px-5 fs-5 border border-light-third list-unstyled"
              >
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> call </span>
                  <a
                    href="tel:+(07)000-2345"
                    class="stores__link text-dark text-decoration-none"
                  >
                    電話：(07)000-2345
                  </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> schedule </span>
                  營業時間：10:00-21:00
                </li>
                <li class="d-flex gap-3">
                  <span class="material-symbols-outlined"> location_on </span>
                  <a
                    href="https://maps.google.com/?q=高雄市苓雅區中正路 38 號 12 樓"
                    class="stores__link text-dark text-decoration-none"
                    target="_blank"
                  >
                    地址：高雄市苓雅區中正路 38 號 12 樓
                  </a>
                </li>
              </ul>
              <a
                href="#"
                class="stores__link btn btn-black d-block py-4 fs-5 rounded-0"
                >詳細資訊</a
              >
            </li>
            <li class="col">
              <div class="stores__img">
                <img
                  src="../assets/images/store-5.png"
                  class="img-fluid"
                  alt="簡約的高雄夢時代店，有繽紛的椅子，使人感覺愉快"
                />
              </div>
              <h3 class="py-2 px-5 mb-0 fs-4 border border-light-third">
                高雄夢時代店
              </h3>
              <ul
                class="py-2 px-5 fs-5 border border-light-third list-unstyled"
              >
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> call </span>
                  <a
                    href="tel:+(02)000-1234"
                    class="stores__link text-dark text-decoration-none"
                  >
                    電話：(02)000-1234
                  </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <span class="material-symbols-outlined"> schedule </span>
                  營業時間：10:00-21:00
                </li>
                <li class="d-flex gap-3">
                  <span class="material-symbols-outlined"> location_on </span>
                  <a
                    href="https://maps.google.com/?q=高雄市前鎮區中華一路 63 號 6 樓"
                    class="stores__link text-dark text-decoration-none"
                    target="_blank"
                  >
                    地址：高雄市前鎮區中華一路 63 號 6 樓
                  </a>
                </li>
              </ul>
              <a
                href="#"
                class="stores__link btn btn-black d-block py-4 fs-5 rounded-0"
                >詳細資訊</a
              >
            </li>
          </ul>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
